html, body {
    /*height: 95%;*/
    margin: 0;
    /*margin-top: 20px;*/
    padding: 0;
    background-color: #f2f2f2;
}
nav{
    padding-top: 34px;
}

#map {
    height: 650px;
    width: 100%;
}

#chartdiv {
    width: 100%;
    height: 120px;
    font-size: 11px;
}

#sliderWrapper {
    width: 96%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

{
    margin: auto;
}

#content .text{
    font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
    margin: 0 5px 10px 0;
}
#content .details{
    font-weight: normal;
    color: #666;
    font-size: 12px;
}
#content .user {
    font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
    margin: 0 5px 10px 0;
}

#goodMorningTitle{
    z-index: 10;
    position: absolute;
    width:366px;
    height: 35%;
    padding-left: 40px;
    border-left: solid #D0FF6C 15px;
}

#goodMorningTitle h2{
    margin-top: 80px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    font-weight: 800;
    line-height: 10px;
}

#goodMorningTitle p{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 20px;
}

#goodMorningBody{
    z-index: 10;
    position: absolute;
    width:295px;
    top:540px;
    left: 60px;
}


#goodMorningBody p{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
}

#sideBarGreen{
    position: absolute;
    top:34px;
    right: 0px;
    height: 790px;
    border-right: solid #D0FF6C 15px;
}
#tenPopular{
    position: absolute;

}

#loading {
    opacity:0.8;
    background-color:#0ba9ff;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}


#wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.path {
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
    animation: dash 5s linear  infinite;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 2000;
    }
    90% {
        stroke-dashoffset: 0;
    }
}

.path2 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash2 5s linear  infinite;
}

@keyframes dash2 {
    60% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

